.bookmark-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute; /* Absolut innerhalb der Card positionieren */
    top: 0px; /* Abstand vom oberen Rand */
    right: 0px; /* Abstand vom rechten Rand */
  }

  .bookmark-btn-one {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute; /* Absolut innerhalb der Card positionieren */
    top: -10px; /* Abstand vom oberen Rand */
    right: -10px; /* Abstand vom rechten Rand */
    border-radius: 50%; /* Macht die Border rund */
    font-size: 1.5rem; /* Größe des Icons */
    padding: 10px; /* Abstand innerhalb des Kreises */
  }