/* Grundlegendes Styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #011c38;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Header */
  .header {
    background-color: #18406a;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
    position: fixed;
      z-index: 1000;
  }
  
  .header__title {
    margin: 0; 
    font-size: 2rem;
  }
  
  /* Quiz Container */
  .quiz-container {
    width: 100%;
    max-width: 600px;
    padding-top: 100px;
    padding-bottom: 60px;
  }

  .bookmark-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute; /* Absolut innerhalb der Card positionieren */
    top: 0px; /* Abstand vom oberen Rand */
    right: 0px; /* Abstand vom rechten Rand */
  }

  .bookmark-btn-one {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute; /* Absolut innerhalb der Card positionieren */
    top: -10px; /* Abstand vom oberen Rand */
    right: -10px; /* Abstand vom rechten Rand */
    border: 2px solid #ffcc00; /* Dicke und Farbe der Border */
    border-radius: 50%; /* Macht die Border rund */
    font-size: 1.5rem; /* Größe des Icons */
    padding: 10px; /* Abstand innerhalb des Kreises */
  }

  /* Quiz Card */
  .quiz-card {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin-bottom: 40px;
    text-align: center;
    position: relative; /* Ermöglicht die Positionierung der Tags innerhalb der Card */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Platzierung von Button und Tags */
    height: 100%; /* Die Card füllt den Container vollständig */
    border-radius: 50px 0 30px 0; /* Ändert die linke obere und untere Ecke */
  }
  
  .quiz-question {
    font-size: 1.5rem;
    color: #2a2a2a;
    margin: 0 0 10px 0;
  }
  
  .quiz-answer {
    font-size: 1.2rem;
    color: #4a4a4a;
    margin: 10px 0;
    transition: opacity 0.3s ease;
  }

  .show-answer-btn {
    margin-bottom: auto; /* Schiebt die Tags nach unten */
    margin-top: 30px;
  }

  /* Styling der Tags */
  .quiz-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 50px; /* Stellt sicher, dass ein Abstand zu vorherigen Inhalten besteht */
  }
  
  .tag {
    background-color: #f2b069; /* Farbe der Tags */
    color: #333;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 0.9rem;
    font-weight: bold;
  }
  
  /* Answer initially hidden */
  .hidden {
    display: none;
  }
  
  /* Button Styling */
  .show-answer-btn {
    padding: 10px 20px;
    background-color: #ff1dbf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: auto; /* Breite passt sich an den Text an */
  }
  
  .show-answer-btn:hover {
    background-color: #efa6da;
  }

  /* Footer-Styling */
.footer {
    background-color: #18406a;
    color: white;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  .footer-nav {
    display: flex;
    justify-content: center;
    gap: 100px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
  }